################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
/Example/Cosnumer.Example/appsettings.Local.json
**/[Bb]in/
**/[Oo]bj/

/Example/Nucleotidz.Consumer.Json/appsettings.Local.json
